<configuration>
	<startup>
		<supportedRuntime version="v8" sku=".NETFramework,Version=v8.0" />
	</startup>
	<appSettings>
		<add key="PROJECT_NAME" value="Material System"/>
		<add key="SCALE_COM_ADDR" value="COM3"/>
		<add key="ETAG_CONTROL_ADDR" value="192.168.1.253:1030"/>
	</appSettings>
	<connectionStrings>
		<add name="MYSQL_ADDR" connectionString="Server=127.0.0.1;Port=3306;Database=net_framework;Uid=root;Pwd=123456;" />
	</connectionStrings>
</configuration>