<configuration>
	<startup>
		<supportedRuntime version="v8" sku=".NETFramework,Version=v8.0" />
	</startup>
	<appSettings>
		<add key="name" value="可视化终端分拣系统"/>
	</appSettings>
	<connectionStrings>
		<add name="mysql" connectionString="Server=127.0.0.1;Port=3306;Database=net_framework;Uid=root;Pwd=123456;" />
	</connectionStrings>
</configuration>